header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lnks{
    display: flex;
    gap: 50px;
}
.lnks img{
    height: 90px;
    width: 100px;
}
.lnks a {
    padding-top: 35px;
}
.lnks2 {
   display: flex;
   gap: 5vh;
   padding-left: 80vh;
}
header button {
    background-color: black;
    color: azure;
    height: 50px;
    border-radius: 10px;
}
.cntnt1{
    align-items: center;
}
.cntnt1{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5vh
}
.cntnt1 button {
    height: 60px;
    width: 300px;
    background-color: rgba(23, 138, 30, 0.83);
    color: aliceblue;
    border-radius: 20px;
}
article img{
    padding-left: 60vh;
}